<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    rel="stylesheet"
  />

  <!-- Include jQuery from a CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>LLM User Stories</title>
    
</head>

<style>
  #the-count {
float: right;
padding: 0.1rem 0 0 0;
font-size: 0.875rem;
font-style: italic;
}
</style>

<script>
   $(document).ready(function() {
    $('#yest-iddd').keyup(function() {
      var characterCount = $(this).val().length;
      var dividedValue = Math.ceil(characterCount / 4),
          current = $('#current'),
          maximum = $('#maximum'),
          theCount = $('#the-count');
    
      current.text(dividedValue);
    });
  });
    
</script>

<body>


  
    <!--TODO - Center it on the page-->
    <!-- 4096 token limit is for 1 API call/request -->
    <div class="container">
      <h1 class="text-center" style="margin: 5% 0% 5% 0%;">Transform Requirement into User Story</h1>
    <div class="container">
      <div id="the-count">
        <span >Tokens ~= </span>
        <span id="current">0</span>
        <span id="maximum">/ 4096</span>
      </div>
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form }}
          <button onclick="remove_uploaded_file()">Remove File</button>
          <button type="submit" class="btn btn-primary">Submit</button>
          
      </form>
  </div>
    </div>
    
</body>
<script>
  function remove_uploaded_file(){
  document.getElementById("file_upload").value=null;
}
</script>
<script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    crossorigin="anonymous"
  ></script>
</html>
